/* =========================================
   ABOUT PAGE
========================================= */

.aboutPage {
  width: 100%;
  min-height: 100vh;
}

/* =========================================
   ABOUT HERO + STORY SCROLL AREA
========================================= */

.heroStoryWrapper {
  position: relative;

  width: 100%;

  /*
    Hero sticky rahega sirf Hero + Story
    ke area ke andar.
  */
  isolation: isolate;
}